@import "../../../../assets/styles/common-classes";

.fifth-step {
  @extend %step-common;
}

.fifth-step-one-field {
  margin-top: 14px;
}

.fifth-step-heading {
  @extend %field-heading-common;
}

.fifth-step-link {
  color: #1e70bf;
  text-decoration: none;
}

.fifth-step-input-wrap {
  width: 100%;
}

.fifth-step-fields {
  margin-top: 14px;
}
