@import "../../assets/styles/common-classes";

.select-component-heading {
  margin: 0;
  @extend %field-heading-common;
  margin-bottom: 4px;
}

.select-component-error-text {
  margin-top: 5px;
  color: $error-red;
}
