.create-pass-wrap {
  padding: 0 25% 5%;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
}

.create-pass-heading {
  font-size: 24px;
  margin: 0;
  line-height: 1.28571429em;
  text-transform: none;
  color: rgba(0, 0, 0, 0.87);
}

@media only screen and (max-width: 1000px) {
  .create-pass-wrap {
    padding: 0 20% 5%;
  }
}

@media only screen and (max-width: 768px) {
  .create-pass-wrap {
    padding: 0 15% 5%;
  }
}

@media only screen and (max-width: 480px) {
  .create-pass-wrap {
    padding: 0 5% 10%;
  }
}

.create-pass-top-btn-wrap {
  align-self: flex-start;
  margin-top: 30px;
  margin-bottom: 10px;
}
