.rules-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.rules-list-item {
  &:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  &:last-child {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  padding: 10px 18px;
  margin-bottom: -1px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
