@import "../../../assets/styles/common-classes";
@import "../../../assets/styles/variables";

.btn {
  @extend %btn-common;
  padding: 10px 50px;
  line-height: 1em;
  font-weight: bold;
  border-radius: 0.28571429rem;
  background-color: $main-green;
  color: white;

  &.disabled {
    background-color: #b5b5b554 !important;
    color: gray !important;
  }

  &:hover {
    background: #0ea432;
  }
  &:active {
    background: #198f35;
  }

  &.block-button {
    display: block;
    width: 100%;
    padding: 10px;
  }
}
