@import "../../../../assets/styles/common-classes";

.second-step {
  @extend %step-common;
}

.second-step-fields {
  @extend %step-fields-common;
}

.second-step-one-field {
  margin-top: 14px;
}

@media only screen and (max-width: 768px) {
  .second-step-fields {
    grid-template-columns: 1fr;
    row-gap: 5px;
  }
}
