@import "../../../assets/styles/variables";
@import "../../../assets/styles/common-classes";

.input-component-heading {
  margin: 0;
  @extend %field-heading-common;
  margin-bottom: 4px;
}

.input-component-item-wrap {
  width: 100%;
}

.input-component-item {
  @extend %input-common;
  border-radius: 4px;
  &:focus {
    border: 1px solid #85b7d9;
  }
  &.error {
    border-color: $error-red;
  }
}

.input-component-error-text {
  margin-top: 5px;
  color: $error-red;
}
