@import "../../../../../../assets/styles/common-classes";

.passport-area-wrap {
  @extend %document-area-common;
}

.passport-area-img-wrap {
  margin-top: 20px;
  margin-bottom: 10px;
}

.passport-area-img {
  width: 100%;
}

.passport-area-description {
  margin-bottom: 10px;
}

.passport-area-description__text {
  margin: 0;
}
