@import "../../../../../../assets/styles/common-classes";

.selfie-area-wrap {
  @extend %document-area-common;
}

.selfie-area-img {
  width: 100%;
}

.selfie-area-description {
  margin-bottom: 10px;
}

.selfie-area-description__text {
  margin: 0;
}

.selfie-area-rules {
  margin-top: 10px;
  margin-bottom: 7px;
}
