@import "../../../../assets/styles/common-classes";

.fourth-step {
  @extend %step-common;
}

.fourth-step-fields {
  @extend %step-fields-common;
}

.additional-document-wrap {
  @extend %document-area-common;
}

.additional-document-description {
  margin-bottom: 10px;
}

.additional-document-description__text {
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .fourth-step-fields {
    grid-template-columns: 1fr;
    row-gap: 5px;
  }
}

.fourth-step-fields {
  margin-top: 14px;
}
