@import "../../assets/styles/common-classes";

.check-pass-wrap {
  padding: 0 25% 5%;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
}

.check-pass-heading {
  text-align: center;
}

.check-pass-field-heading {
  @extend %field-heading-common;
}

@media only screen and (max-width: 1000px) {
  .check-pass-wrap {
    padding: 0 20% 5%;
  }
}

@media only screen and (max-width: 768px) {
  .check-pass-wrap {
    padding: 0 15% 5%;
  }
}

@media only screen and (max-width: 480px) {
  .check-pass-wrap {
    padding: 0 5% 10%;
  }
}
