.attention-message__icon {
  height: 100%;
  min-height: 60px;
}

.attention-message {
  margin-top: 10px;
}

.attention-message__text {
  margin: 0;
  margin-left: 10px;
  font-size: 16px;
  line-height: 21px;
  color: #3e3e3e;
}

.attention-message-link {
  color: #1e70bf;
  text-decoration: none;
}
