@import "../../assets/styles/common-classes";

.form-container {
  @extend %step-common;
}

.qr-auth-wrap {
  padding: 0 20% 5%;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
}

.field-form {
  padding-bottom: 10px;
}

.form-container {
  width: 100%;
  max-width: 1200px;
}

.block-form {
  width: 50%;
}
