@import "../../../../assets/styles/common-classes";

.unpacked-fields-mobile {
  overflow-y: auto;
}

.unpacked-fields-wrap {
  margin-top: 30px;
  border: 1px solid grey;
  border-radius: 4px;
  min-width: 400px;
}
.unpacked-fields {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  border-bottom: 1px solid grey;
  > * {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 50%;
    margin: 0;
    padding: 1em;
    border-right: 1px solid grey;
    &:last-child {
      border: none;
    }
  }
  &:last-child {
    border-bottom: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.unpacked-fields__heading {
  font-weight: bold;
}
