.phone-input-component {
  .react-tel-input {
    .form-control {
      height: 38px;
    }
  }
}

#phone-form-control {
  width: 100%;
  &:focus {
    border: 1px solid #85b7d9;
    box-shadow: none;
  }
}
