@import "./variables";

%step-common {
  margin-top: 10px;
  background-color: $main-bg;
  border-radius: 10px;
  padding: 28px;
}

%step-fields-common {
  grid-template-columns: repeat(2, 1fr);
  row-gap: 28px;
  column-gap: 28px;
  margin-top: 14px;
}

%document-area-common {
  background: $second-bg;
  padding: 20px;
  margin: 15px 0px;
  border-radius: 5px;
}

%input-common {
  width: 100%;
  background-color: white;
  border-color: #dedede;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  outline: none;
  padding: 10px 14px;
  line-height: 16px;
  font-size: 14px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  transition: color 0.1s ease, border-color 0.1s ease;
}

%field-heading-common {
  margin-bottom: 4px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  font-weight: bold;
  font-family: "Arial";
}

%btn-common {
  cursor: pointer;
  outline: none;
  border: none;
  text-align: center;
}
