@import "./_variables.scss";

@font-face {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/SFPro/SFProDisplay-Regular.woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/SFPro/SFProDisplay-Medium.woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/SFPro/SFProDisplay-Semibold.woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/SFPro/SFProDisplay-Bold.woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/SFPro/SFProDisplay-Black.woff");
}

body {
  font-family: "Open Sans", "Lato", Tahoma, "Helvetica Neue", Arial, Verdana,
    sans-serif;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.center {
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.start {
  justify-content: flex-start;
}

.align-center {
  align-items: center;
}

.bold {
  font-weight: bold;
}

.h-100 {
  height: 100%;
}

.error-text {
  color: $error-red;
}

.column-item {
  width: 50%;
}

.list-columns {
  display: flex;

  @media screen and (max-width: 1180px) {
    & {
      display: block;

      .column-item {
        width: 100%;

        &:nth-child(n + 2) {
          margin-top: 5px;
        }
      }
    }
  }
}
