.navbar-wrap {
  position: relative;
  z-index: 2;
  padding: 7px 9%;
  background-color: white;
  border-bottom: 1px solid #dee2e6;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.navbar {
  height: 60px;
}

.navbar-item {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  text-decoration: none;
  color: #343a40;
  font-size: 14px;
  line-height: 1.4285em;
  &:hover {
    text-decoration: underline;
  }
}

.navbar-icon {
  margin: 0;
  width: 60px;
}

.login-item {
  margin-left: auto;
}

@media only screen and (max-width: 480px) {
  .navbar-wrap {
    padding: 7px 2%;
  }
}
