@import "../../../../assets/styles/common-classes";
@import "../../../../assets/styles/variables";

.provider-wrap {
  @extend %document-area-common;
  padding: 20px 20%;
  background-color: white;
  box-shadow: 10px 5px 20px 5px rgba(0, 0, 0, 0.5);
}

.provider {
  width: 100%;
}

.provider__heading {
  @extend %field-heading-common;
  color: white;
  text-align: center;
  font-size: 18px;
  margin-bottom: 10%;
}

.provider-logos-item {
  width: 100%;
}

.provider-logos-item__img {
  width: 250px;
  height: 130px;
}

.provider-logos-radiogroup-wrap {
  width: 100%;
  margin-top: 5%;
}

.provider-logos-radiogroup {
  grid-template-columns: repeat(2, 1fr);
}

.provider__btn {
  margin-top: 10%;
}

.provider__error {
  color: $error-red;
}
