@import "../../../assets/styles/common-classes";
@import "../../../assets/styles/variables";

.form-btn {
  @extend %btn-common;
  margin-top: 20px;
  padding: 10px 50px;
  line-height: 1em;
  font-weight: bold;
  border-radius: 0.28571429rem;
  background-color: $main-green;
  color: white;
  &:hover {
    background: #0ea432;
  }
  &:active {
    background: #198f35;
  }
}
