@import "../../../../../../assets/styles/common-classes";

.documents-area-wrap {
  @extend %document-area-common;
}

.documents-area__description {
  margin: 0;
}

.documents-area-list {
  padding: 0 5px;
  list-style-type: none;
}

.documents-area-list__item {
  margin-top: 10px;
  margin-bottom: 15px;
}

.documents-area-types {
  margin-bottom: 15px;
}
