@import "../../../assets/styles/common-classes";

.password-input-component {
  width: 100%;
}

.password-input-component-item {
  @extend %input-common;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
  &:focus {
    border: 1px solid #85b7d9;
    border-right: none;
  }
  &.error {
    border-color: $error-red;
  }
}

.password-input-component-icon-wrap {
  height: 38px;
  background: white;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;
  transition: color 0.1s ease, border-color 0.1s ease;
  &.error {
    border-color: $error-red;
  }
}

.password-input-component-icon-wrap--active {
  border: 1px solid #85b7d9;
  border-left: none;
}

.password-input-component-btn {
  outline: none;
  background: none;
  border: none;
}

.password-input-component-icon {
  cursor: pointer;
  width: 20px;
  height: 30px;
  margin-right: 10px;
}

.password-input-component-error-text {
  margin-top: 5px;
  color: $error-red;
  font-size: 14px;
}
